<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codingSytle</title>
</head>
<body>
<form action="" method="post" style="position:absolute;top:40px;color:black;font-size:35px;left: 15%">
    {% csrf_token %}
    <P style="text-align: center;font-size: 70px">
        Paste your code below
    </P>
    <p>
        <input type="text" name="code" value={{ code }}>
    </p>
    <div style="position:relative;width: 400px;text-align: center">
        <input style="width: 450px;border-radius: 25px;" type="submit" value="check">
    </div>
    <p>
        {{ code }}
    </p>
</form>
</body>
</html>